/* General Style*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html{
    scroll-behavior: smooth;
}


h1{
    font-size: 2rem;
    scroll-behavior: smooth;
}

h2{
    font-size: 1.5rem;
    color:#212529 ;
}

p{
    font-size: 0.9rem;
}



/* Main Header Style*/

.descargar-pdf{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header{
    margin: 2rem;
    display: flex;
}

nav{
    min-height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 20px 20px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    justify-content: space-around;
    flex: 1 1 40rem;
}


a{
    text-decoration: none;
    font-size: 1rem;
}

#logo{
    flex: 1 1 40rem;
    text-align: center;
    margin-bottom: 1rem;
}

/* Main */

#PDF{
 text-align: center;
 margin: 1rem 0 2rem 0;
}

#PDF a{
    color: white;
    text-align: center;
    position: relative;
    top: -0.2rem;
}

.main{
    width: 90%;
    margin: 2rem auto;
    min-height: 10vh;
}

.Experiencias{
    width: 90%;
    margin: 2rem auto;
    min-height: 80vh;
}

/* Seccion Experiencia*/ 

#cards{
    display: flex;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.1);
    min-height: 10vh;
    max-width: 35%;
    margin: 2rem 3rem;
    text-align: center;
}

#card-tocada{
    position: relative;
    top: -1rem;
}

#titulo{
    font-size: 0.9rem;
    background: #324a66;
    min-height: 5rem;
    color: white;
    padding: 1rem 0;
    border-radius: .5rem;
}

#Subtitulo{
    font-size: 0.8rem;
    padding: 1rem;
    color:#324a66
}

#texto{
    font-size: 0.7rem;
    padding: 0 0.5rem;
}

/* Seccion Habilidades*/

#Habilidades{
    width: 90%;
    margin: auto;
}

#detallando-habilidades{
    width: 90%;
    margin: 2rem auto;
    overflow: hidden;
}

#mario {
    width: 4px;
    height: 4px;
    position: relative;
    top: -1.25rem;
  
    animation:
      jump 1s infinite,
      sprite 1s infinite;
  }
  
  /* ジャンプモーション（上下移動） */
  @keyframes jump {
    from, 25%, 75%, to {
      transform: translateY(0);
    }
    50% {
      transform: translateY(calc(5px * -5));
    }
  }
  
  /* 通常モードとジャンプモードのドット絵 */
  @keyframes sprite {
    /* animation-timing-function: steps(n)より細かく指定したかったのでパーセントで指定 */
    from, 24%, 76%, to {
      box-shadow: ;/* 通常モードのドット絵 */
    }
    25%, 75% {
      box-shadow: ;/* ジャンプモードのドット絵 */
    }
  }

  

.habilidades-detalladas{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.habilidades-detalladas h3{
    text-align: left;
    margin-bottom: 1rem;
}

.lists{
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    max-height: 25vh;
    text-align: left;
    color: white;
}

.lists li{
    color: white;
    margin-left: 1rem;
    padding: 0.2rem;
}

#circle{
    margin-left: 1rem;
}


.UnaporUna{
    display: flex;
    background: rgba(0,0,0,0.9);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0px 10px 10px rgba(0,0,0,0.1);
    margin: 1rem 0;
    color: white;
    margin-top: 3.5rem;
}

.UnaporUna h4{
    padding: 0.5rem;
}

/* Redes */

.redes{
    width: 90%;
    margin: auto;
}

#Behance{
    position: relative;
    left: -1.9rem;
    top: -0.1rem;
}

.redes ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
}

.redes ul li{
    
    list-style: none;
}

/* Footer */

footer{
    min-height: 10vh;
    background:  rgba(0,0,0,0.9);
    color: white;
    margin-top: 1rem;
}

.footer-main{
    width: 90%;
    margin: auto;
}

.footer-main h4{
    text-align: center;
    padding: 1rem;
}

#button-up{
    position: absolute;
    bottom: -2020px;
    right: 65px;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}


@media screen and (max-width: 932px){
    html{
        font-size: 45%;
    }

    nav{
        text-align: center;
    }

    h2{
        font-size: 1.4rem;
    }

    #logo{
        padding: 2rem;
        
    }


    #presentacion{
        font-size: 1.2rem;
        line-height: 1.8;
    }

    .card{
        max-width: 90%;
    }

    #titulo{
        font-size: 1.2rem;
    }

    #Subtitulo{
        font-size: 1rem;
    }

    #texto{
        font-size: 0.9rem;
        line-height: 2.2;
    }

    .habilidades-detalladas h3{
        font-size: 1.8rem;
        text-align: center;
    }

    .UnaporUna h4{
        font-size: 1.6rem;
    }

    .UnaporUna li{
        font-size: 1.5rem;
    }

    .redes ul li{
        width: 90%;
        margin: auto;
    }

    .redes a{
        padding: 0.5rem;
        margin-left: 0.5rem;
        position: relative;
        left: 4rem;
    }

    #Behance{
        left: -4rem;
    }

    footer h4{
        font-size: 1.5rem;
    }
}